<div class="container">
  <div class="introduction d-flex justify-content-center align-items-center">
    <h2>약대 소개합시다</h2>
  </div>
  <div class="alumnus d-flex justify-content-center align-items-center">
    <h2>총동창회입니다</h2>
  </div>
  <div class="graduate d-flex justify-content-center align-items-center">
    <h2>졸업 준비 위원회입니다</h2>
  </div>
  <div class="council d-flex justify-content-center align-items-center">
    <h2>학생회입니다</h2>
  </div>
  <div class="hobby d-flex justify-content-center align-items-center">
    <h2>동아리입니다</h2>
  </div>
</div>